@charset "utf-8";

html{
font-size: 10px;
}
body{
margin: 0 auto;
}
.content{
width: 100%;
height: 100%;
}
.nav_container{
background-color: black;
opacity: 0.75;
width: 100%;
color: white;
position: fixed;
top: 0;
}
.menu{
list-style-type: none;
font-size: 1.5em;
line-height:1.5em;
text-align: center;
padding:0;
margin: auto 5%;
width: 90%;
display: inline-block;
vertical-align: middle;
}
.menu-item{
padding: 1% 2%;
}
.menu-item a{
text-decoration: none;
color: white;
}
.menu-item a:hover {
color:#827B1F
}
.title{
width: 100%;
padding-top: 11vh;
background-color: red;
color: white;
font-size: 3em;
text-align: center;
}
.left{
float: left;
}
.clear{
clear: both;
}
.stripes{
display: flex;
width: 100%;
}
.first-stripe{
padding-top: 5rem;
box-sizing: border-box;
background-color: rgb(66, 76, 89);
color: white;
width: 25%;
}
.second-stripe{
padding-top: 5rem;
box-sizing: border-box;
width: 75%;
}
.info{
padding: 0.5rem;
font-size: 1.5rem;
}
.info>p{
background-color: rgb(48, 54, 65);
font-size: 2.5rem;
margin: 0;
text-align: center;
}
.photo{
padding: 0.5rem 0.5rem;
box-sizing: border-box;
width: 100%;
float: left;
text-align: center;
}
.me{
max-width: 100%;
border-radius: 3rem;
}
.lang{
padding: 0;
margin: 0;
}
.lang-item{
display: inline;
padding: 0 2%;
margin-left: 0.5rem;
}
.circle{
width: 1rem;
height: 1rem;
border-radius: 50%;
}
.white{
display: inline-block;
background-color: white;
}
.darkblue{
display: inline-block;
background-color: rgb(48, 54, 65);
}
.description{
padding: 0.5rem;
font-size: 1.5rem;
}
.description>p{
font-size: 2.5rem;
margin: 0;
text-align: center;
margin: 0 10%;
}
.line{
margin: 0 20%;
border: 1px solid darkgreen;
}
.desc-flex-container{
display: flex;
flex-wrap: wrap;
width: 100%;
box-sizing: border-box;
}
.date{
padding: 0.5rem;
width: 25%;
box-sizing: border-box;
}
.text{
padding: 0.5rem;
padding-right: 2rem;
width: 75%;
box-sizing: border-box;
}
.text a{
text-decoration: none;
color:black;
}
.menu-toggle {
display:none
}

@media only screen and (max-width:640px){
.menu-toggle {
display:block;
position:fixed;
top:3em;
right:1em;
min-height:3em;
min-width:3em;
border-radius:50%;
border:none;
background-color: rgb(48, 54, 65);
cursor:pointer;
outline:none
}

.menu-toggle:hover {
min-width:3.5em;
min-height:3.5em
}

.mini-line {
padding:0;
margin:5px 2px;
display:block;
background-color:#fff;
border:.5px outset rgba(255,255,255,0.5);
border-radius:2px
}
.me{
max-width: 50%;
}
.second-stripe{
width: 100%;
padding-top: 0;
}
.first-stripe{
padding-top: 0;
width: 100%
}
.stripes{
display: block;
}
.menu-item{
padding: 1%;
float: none;
width: auto;
}
.menu{
display: none;
}
.nav_container.visible {
font-size: 2rem;
height:100vh;
padding:1% 0;
padding-top: 5%;
background-color:rgba(0,0,0,.95)
}
.menu.visible{
display: block;
}
.title{
padding-top: 1%;
}

@media only screen and (min-width:1367px){

