@charset "utf-8";

html{
font-size: 10px;
}
body {
margin:0 auto;
font-family:'Alegreya',sans-serif;
font-size:16px
}
#header{
background:url(/images/background-piter.jpg);
background-size:cover;
background-repeat:no-repeat;
background-position:0 center;
height:100vh;
box-shadow: 0px 2px 3px 1px rgba(0,0,0,1);
-webkit-box-shadow: 0px 2px 3px 1px rgba(0,0,0,1);
-moz-box-shadow: 0px 2px 3px 1px rgba(0,0,0,1);
}
.header_container{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
width:100%;
height:100%;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
-webkit-box-pack:center;
-ms-flex-pack:center;
justify-content:center
}
#header h1{
-webkit-transition:2s;
transition:2s;
-webkit-transition-timing-function:linear;
transition-timing-function:linear;
font-size:3em;
color:#fff;
margin-bottom:0;
text-align:center;
text-shadow:3px 2px 2px rgba(0,0,0,0.75)
}
#header h2,h3{
-webkit-transition:2s;
transition:2s;
-webkit-transition-timing-function:linear;
transition-timing-function:linear;
color:#fff;
margin-top:0;
font-size:1.5em;
text-align:center;
text-shadow:3px 2px 2px rgba(0,0,0,0.75)
}
.menu-toggle{
display:block;
position:fixed;
top:1em;
left:1em;
height:3em;
width:3em;
border-radius:50%;
border:none;
background-color:rgba(63,13,60,0.75);
cursor:pointer;
outline:none
}
.menu-toggle:hover{
-webkit-transform:scale(1.1,1.1);
transform:scale(1.1,1.1);
}
.menu-toggle:after{
content: "";
background: url(../images/open.png);
background-repeat: no-repeat;
background-size: contain;
display: block;
width: 2rem;
height: 2rem;
transition: background 1s;
margin-left: 50%;
transform: translateX(-50%);
}
.closed:after{
content: "";
background: url(../images/closed.png);
background-repeat: no-repeat;
background-size: contain;
display: block;
width: 2rem;
height: 2rem;
margin-left: 50%;
transform: translateX(-50%);
}
.nav_container{
width:auto;
height:100%;
position:fixed;
top:0;
left: -200px;
background-color:rgba(0,0,0,0.75);
box-shadow: 1px 2px 5px 1px rgba(0,0,0,1);
-webkit-box-shadow: 1px 2px 5px 1px rgba(0,0,0,1);
-moz-box-shadow: 1px 2px 5px 1px rgba(0,0,0,1);
border-bottom: 1px solid rgba(80,80,80,0.5);
color:#fff;
-webkit-transition-duration: 1s;
        transition-duration: 1s;
-webkit-transition-timing-function: linear;
        transition-timing-function: linear;
}
.nav_container.visible{
left: 0;
}
.menu0{
-webkit-transition-duration: 1s;
        transition-duration: 1s;
visibility: hidden;
font-size: 1.5rem;
list-style-type: none;
}
.menu0.visible{
visibility: visible;
padding-left: 6rem;
}
.menu0-item{
padding: 0.5rem 1rem;
cursor: pointer;
}
.menu0-item:hover{
color: rgb(220, 161, 0);
}
.menu0-item a{
text-decoration: none;
color: white;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
display: block;
}
.menu0-item a:hover{
color: rgb(220, 161, 0);
}
.menu0 > li:hover .menu2{
opacity: 1;
visibility: visible;
}
.menu2{
-webkit-transition-duration: 1s;
        transition-duration: 1s;
opacity: 0;
visibility: hidden;
position: absolute;
padding: 0;
list-style-type: none;
text-align: center;
color: white;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
box-shadow: 1px 2px 5px 1px rgba(0,0,0,1);
-webkit-box-shadow: 1px 2px 5px 1px rgba(0,0,0,1);
-moz-box-shadow: 1px 2px 5px 1px rgba(0,0,0,1);
border: 1px solid rgba(80,80,80,0.5);
background-color:rgba(0,0,0,0.75);
width: 85.5px;
}
.menu2-item{
padding: 0.25rem 0.5rem 0.25rem 0.5rem
}
.menu2-item a:hover{
color: rgb(220, 161, 0);
}
.logo{
display: none;
}
.left{
float:left
}
.right{
float:right
}
#about_me{
padding-top:1em
}
.container{
margin:0 auto;
max-width:90%
}
.container h1{
text-align:center;
margin-top:0
}
.me{
max-width:100%;
height:auto;
border-radius:30%
}
.about_photo{
width:100%;
padding:0 1em;
box-sizing:border-box;
text-align:center
}
.about_article{
width:100%;
padding:1em;
box-sizing:border-box;
text-align:justify
}
#what_i_do{
padding:1em 0;
background-color:#c2cdce
}
.photo{
max-width:100%;
height:auto
}
.photo:hover{
background-color:#000;
opacity:.8
}
.use_photo{
max-width:100%;
height:auto;
}
.use_photo:hover{
-webkit-transform:scale(1.1,1.1);
transform:scale(1.1,1.1);
}
.flex_item{
width:65%;
height:auto;
box-sizing:border-box;
text-align:center;
margin:0 auto;
list-style-type:none
}
#use{
padding:1em 0;
background-color:#c2cdce
}
#use>.container>.flex_container>.flex_item{
border:none;
padding:0 1%;
width:30%
}
.flex_container{
padding:0
}
#use>.container>.flex_container{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
padding:0
}
.contactform input{
display:block;
margin:0 auto;
margin-top:.5em;
margin-bottom:.5em;
width:70%;
height:2em;
background-color:rgba(0,0,0,0.5);
border:1.5px solid #464444;
border-radius:5px;
outline:none;
box-shadow:4px 4px 5px 0 rgba(0,0,0,0.75);
padding-left:5px;
color:#fff
}
.contactform .submit{
padding-left:5px;
padding-right:5px;
width:15%;
background-color:rgba(140,58,56,0.5);
border:1.5px solid #633C3C;
color:#000;
cursor:pointer;
}
.contactform textarea{
display:block;
margin:0 auto;
margin-top:.5em;
margin-bottom:.5em;
min-width:70%;
max-width:70%;
height:10em;
background-color:rgba(0,0,0,0.5);
border:1.5px solid #464444;
border-radius:5px;
outline:none;
box-shadow:4px 4px 5px 0 rgba(0,0,0,0.75);
padding-left:5px;
color:#fff
}
.prv{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
-ms-flex-direction:column;
flex-direction:column;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
-webkit-box-pack:center;
-ms-flex-pack:center;
justify-content:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
padding:1em 0;
margin:0 auto;
text-align:center;
font-size:1em
}
.prv_item{
display:inline-block;
padding:0 3em;
text-decoration:none
}
.fb{
background-image:url(../images/icon_fb.png);
background-size:contain;
height:1em;
width:1em;
display:inline-block;
vertical-align:middle
}
.line{
margin:0 40%;
background-color:#006400;
height:2px;
border:none
}
.clear{
clear:both
}
#contact{
background-image:url(../images/contact.jpg);
background-repeat:no-repeat;
background-size:cover;
background-position:center;
background-attachment:fixed
}
footer{
padding:.5em;
background-color:#c2cdce;
text-align:center;
text-decoration:none
}
/**********************************************************/
@media only screen and (min-width: 720px) {
/**********************************************************/
.prv{
font-size:1.5em
}
#use>.container>.flex_container{
-webkit-box-pack:center;
-ms-flex-pack:center;
justify-content:center
}
#use>.container>.flex_container>.flex_item{
border:none;
padding:0 1%;
padding-bottom:1em;
width:15%
}
.flex_item:first-child{
border-right:1px solid #006400;
padding:5% 0;
width:6em
}
.flex_item{
width:20%;
padding:0 1em;
margin:0;
}
.flex_container{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
width:100%;
height:100%;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
padding:0;
list-style-type:none;
padding:0
}
.tools{
align-items: flex-end;
}
.about_photo{
width:30%;
}
.about_article{
width:70%;
padding:0 1em;
box-sizing:border-box;
text-align:justify
}
#header h1{
font-size:5em
}
#header h2{
font-size:2em
}
.menu-toggle{
display:none
}
.menu0{
display: block;
visibility: visible;
}
.menu0-item{
display: inline-block;
}
.nav_container {
width:100%;
height:auto;
position:fixed;
left: 0;
-webkit-transition-duration: 0s;
        transition-duration: 0s;
}
.menu2{
background-color:rgba(0,0,0,0.75);
}
.logo{
display: block;
max-height: 40px;
z-index: 2;
position: fixed;
right: 0.5rem;
top: 1rem;
}
}
/**********************************************************/
@media only screen and (min-width: 1367px){
/**********************************************************/
.about_photo{
width:40%;
}
.about_article{
width:60%;
padding:0 1em;
float:left;
box-sizing:border-box;
text-align:justify;
font-size:2em
}
.what_title {
width:75%;
padding:0 1em;
box-sizing:border-box;
text-align:center;
font-size:2em
}
#header h1{
font-size:8em
}
#header h2{
font-size:4em
}
}
/**********************************************************/
@font-face{
font-family:'fontello';
src:url('../fonts/fontello.eot?55226139');
src:url('../fonts/fontello.eot?55226139#iefix') format('embedded-opentype'),
url('../fonts/fontello.woff2?55226139') format('woff2'),
url('../fonts/fontello.woff?55226139') format('woff'),
url('../fonts/fontello.ttf?55226139') format('truetype'),
url('../fonts/fontello.svg?55226139#fontello') format('svg');
font-weight:400;
font-style:normal;
}
[class^="icon-"]:before,[class*=" icon-"]:before{
font-family:"fontello";
font-style:normal;
font-weight:400;
speak:none;
display:inline-block;
text-decoration:inherit;
width:1em;
margin-right:.2em;
text-align:center;
font-variant:normal;
text-transform:none;
line-height:1em;
margin-left:.2em;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
}
.icon-phone:before{
content:'\e803';
font-size:2rem;
}
.icon-mail:before{
content:'\e804';
font-size:2rem;
}