@charset "utf-8";

body{
margin:0 auto;
font-family:'Alegreya',sans-serif;
font-size:10px;
background:url(/images/blue-background.jpg);
background-size:cover;
background-repeat:no-repeat;
background-position:0 center;
height:100vh;
}
.content{
margin:0 15%;
padding-top:5%;
}
.author{
color:#fff;
line-height:3em;
}
.author>i{
float:left;
}
.author>p{
float:left;
margin:0;
font-size:3em;
text-shadow:1px 1px 2px rgba(0,0,0,0.8);
}
.first-flex-container{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
}
.column{
box-sizing:border-box;
width:50%;
min-width:290px;
}
.second-box-container{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
-webkit-box-pack:center;
-ms-flex-pack:center;
justify-content:center;
}
.clear{
clear:both;
}
.link{
text-decoration:none;
}
.box{
box-sizing:border-box;
margin:1%;
margin-top:4px;
margin-bottom:4px;
height:5em;
color:#fff;
font-size: 1.5em;
text-align:center;
}
.one{
width:64%;
background-color:#da562f;
box-shadow:1px 1px 1px 0 rgba(112,24,0,1);
}
.one:hover{
background-color:#ca451e;
-webkit-transform:perspective(25em)rotateY(-5deg);
transform:perspective(25em)rotateY(-5deg);
cursor:pointer;
box-shadow:2px 2px 2px 0 rgba(112,24,0,1);
}
.two {
width:31%;
background-color:#008f01;
box-shadow:1px 1px 1px 0 rgba(0,48,0,1);
}
.two:hover{
background-color:#007e00;
-webkit-transform:perspective(25em)rotateY(-15deg);
transform:perspective(25em)rotateY(-15deg);
cursor:pointer;
box-shadow:2px 2px 2px 0 rgba(0,48,0,1);
}
.three{
width:31%;
background-color:#a0019b;
box-shadow:1px 1px 1px 0 rgba(41,0,40,1);
}
.three:hover{
background-color:#a0008a;
-webkit-transform:perspective(25em)rotateY(-15deg);
transform:perspective(25em)rotateY(-15deg);
cursor:pointer;
box-shadow:2px 2px 2px 0 rgba(41,0,40,1);
}
.four{
width:31%;
background-color:#bd1d4b;
box-shadow:1px 1px 1px 0 rgba(69,4,23,1);
}
.four:hover{
background-color:#ac0c3a;
-webkit-transform:perspective(25em)rotateY(-15deg);
transform:perspective(25em)rotateY(-15deg);
cursor:pointer;
box-shadow:2px 2px 2px 0 rgba(69,4,23,1);
}
.five{
width:31%;
background-color:#3b5998;
box-shadow:1px 1px 1px 0 rgba(0,20,70,1);
}
.five:hover{
background-color:#2a4887;
-webkit-transform:perspective(25em)rotateY(-15deg);
transform:perspective(25em)rotateY(-15deg);
box-shadow:2px 2px 2px 0 rgba(0,20,70,1);
cursor:pointer;
}
.six{
width:31%;
height:14em;
padding-top: 5rem;
background-color:#603bbc;
box-shadow:1px 1px 1px 0 rgba(30,0,107,1);
}
.six:hover{
-webkit-transform:perspective(25em)rotateY(-10deg);
transform:perspective(25em)rotateY(-10deg);
background-color:#502aab;
box-shadow:2px 2px 2px 0 rgba(30,0,107,1);
cursor:pointer;
}
.seven{
width:64%;
height:14em;
background-color:#d8a201;
box-shadow:1px 1px 1px 0 rgba(79,58,0,1);
}
.seven:hover{
-webkit-transform:perspective(25em)rotateY(-7deg);
transform:perspective(25em)rotateY(-7deg);
background-color:#c7a100;
box-shadow:2px 2px 2px 0 rgba(79,58,0,1);
cursor:pointer;
}
.eight{
width:98%;
background-color: rgba(0,15,100,0.75);
box-shadow:1px 1px 1px 0 rgba(0,7,39,1);
text-shadow:1px 1px 2px rgba(0,0,0,0.8);
}
.eight:hover{
background-color: rgba(0,15,150,0.75);
box-shadow:2px 2px 2px 0 rgba(0,7,39,1);
-webkit-transform:perspective(25em)rotateY(-2deg);
transform:perspective(25em)rotateY(-2deg);
}
.nine{
width:98%;
background-color: rgba(0,143,1,0.75);
box-shadow:1px 1px 1px 0 rgba(0,48,0,1);
text-shadow:1px 1px 2px rgba(0,0,0,0.8);
}
.nine:hover{
background-color: rgba(0,143,1,0.75);
-webkit-transform:perspective(25em)rotateY(-2deg);
transform:perspective(25em)rotateY(-2deg);
box-shadow:2px 2px 2px 0 rgba(0,48,0,1);
}
.ten{
box-shadow:1px 1px 1px 0 rgba(0,0,0,1);
background-color: rgba(10,10,10,0.75);
width:98%;
height:14em;
padding:5px;
text-align:justify;
}

.ten:hover{
background-color: rgba(20,20,20,0.75);
box-shadow:2px 2px 2px 0 rgba(0,0,0,1);
-webkit-transform:perspective(25em)rotateY(-2deg);
transform:perspective(25em)rotateY(-2deg);
}
.calendar{
font-size:2em;
letter-spacing:5px;
line-height:1em;
padding:7.5px;
}
.watch{
font-size:2em;
letter-spacing:5px;
line-height:1em;
padding:7.5px;
}
@media only screen and (max-width:800px){
body{
height:100%;
}
.content{
margin:1%;
padding:0;
}
.column{
width:80%;
margin:0 auto;
}
.ten{
height:auto;
}
.author{
max-width:80%;
min-width:290px;
margin:0 auto;
}
.first-flex-container{
display:block;
}
.seven>p{
font-size:0.8em;
}
}
@media only screen and (min-width:1367px){
.content{
padding-top:10%;
}
.box{
font-size: 1.75em;
}
}
@font-face{
font-family:'fontello';
src:url('../fonts/fontello.eot?55226139');
src:url('../fonts/fontello.eot?55226139#iefix') format('embedded-opentype'),
url('../fonts/fontello.woff2?55226139') format('woff2'),
url('../fonts/fontello.woff?55226139') format('woff'),
url('../fonts/fontello.ttf?55226139') format('truetype'),
url('../fonts/fontello.svg?55226139#fontello') format('svg');
font-weight:400;
font-style:normal;
}
[class^="icon-"]:before,[class*=" icon-"]:before{
font-family:"fontello";
font-style:normal;
font-weight:400;
speak:none;
display:inline-block;
text-decoration:inherit;
width:1em;
margin-right:.2em;
text-align:center;
font-variant:normal;
text-transform:none;
line-height:1em;
margin-left:.2em;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
}
.icon-user:before{
content:'\e800';
margin:0;
font-size:6em;
}
.icon-doc-text:before{
content:'\e802';
margin-top:18px;
font-size: 1.5em;
}
.icon-info:before{
content:'\e805';
margin-top:18px;
font-size:1.5em;
}
.icon-facebook:before{
content:'\e801';
margin-top:20px;
font-size:2.5em;
}
.icon-phone:before{
content:'\e803';
margin-top:35px;
font-size:1.5em;
}
.icon-mail:before{
content:'\e804';
font-size:1.5em;
}